---
import BaseLayout from "../layouts/BaseLayout.astro";
import ReleaseItem from "../components/ReleaseItem.astro";
import CareerSection from "../components/CareerItem.astro";
import AppLogo from "../assets/img/icon.png";
import "@fontsource-variable/caveat";

import {careerItems} from "../data";

interface ReleaseItems {
	href: string;
	title: string;
	description: string;
	src: string;
}

// interface CareerItems {
// 	date: string;
// 	publish: string;
// 	src?: string;
// 	alt: string;
// 	comment: string;
// 	emoji?: string;
// }

const releaseItems: ReleaseItems[] = [
	{
		href: "/",
		title: "tech pro worker",
		description:
			"A blog for thinking about careers that will help you grow as an engineer",
		src: AppLogo.src,
	},
	{
		href: "/",
		title: "media teacher",
		description: "sample",
		src: AppLogo.src,
	},
];

// const careerItems: CareerItems[] = [
// 	{
// 		date: "2026-01-26",
// 		publish: "3 month ago",
// 		src: "",
// 		alt: "クラッカー",
// 		comment: "We have released a new blog service.",
// 		emoji: "🎉",
// 	},
// ];
---

<BaseLayout>
	<div class="container">
		<section class="hero-section">
			<p>There are answers that you can't see if you stay frozen.</p>
			<button class="sns-x-btn" onclick="window.open('https://x.com/aicemethod', '_blank')">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="20"
					height="20"
					viewBox="0 0 24 24"
					><path
						fill="currentColor"
						fill-rule="evenodd"
						d="m13.458 9.122l7.516-7.965h2.491l-.01.011l-8.89 9.424l8.139 10.802a.906.906 0 0 1-.658 1.45H16.95a.9.9 0 0 1-.659-.359l-5.727-7.601l-7.472 7.96H.535l8.922-9.43L1.318 2.612a.906.906 0 0 1 .724-1.452h4.965c.285 0 .553.134.724.361zm-.763 2a1 1 0 0 1-.07-.093l-6.07-8.056H3.86l13.607 18.06h2.696z"
						clip-rule="evenodd"></path></svg
				>
				aicemethod</button
			>
		</section>
		<section class="release-section">
			<p class="release-section-heading">release</p>
			<!-- {
				releaseItems.map((item) => (
					<ReleaseItem
						href={item.href}
						title={item.title}
						description={item.description}
						src={item.src}
					/>
				))
			} -->
				<p class="coming-soon-text">coming soon...</p>
		</section>
		<section class="career-section">
			<p class="career-section-heading">career</p>

			{
				careerItems.map((item) => (
					<CareerSection
						date={item.date}
						publish={item.publish}
						src={item.src}
						alt={item.alt}
						comment={item.comment}
						emoji={item.emoji}
					/>
					<div class="dot-line"></div>
				))
			}
		</section>
	</div>
</BaseLayout>

<style>
	/* レイアウト */
	.container {
		max-width: 1024px;
		margin: 0 auto;
		padding: 20px;
	}

	/* ヒーローセクション */
	.hero-section {
		max-width: 300px;
		margin: 100px auto 0;

		font-family: "Caveat Variable", cursive;
		font-size: 2rem;
		color: #ffffff;

		opacity: 0;
		transform: translateY(24px);
		animation: floatIn 1.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
	}

	/* SNSボタン */
	.sns-x-btn {
		display: flex;
		justify-content: center;

		width: 200px;
		height: 40px;
		margin: 40px auto 0;

		border: 1px solid #ffffff;
		border-radius: 50px;
		background: transparent;

		font-size: 1.5rem;
		font-weight: 700;
		color: #ffffff;
	}

	.sns-x-btn svg {
		margin-right: 10px;
	}

	.release-section,
	.career-section {
		max-width: 500px;
		margin: 40px auto 0;
	}

	.release-section-heading,
	.career-section-heading {
		font-family: "Caveat Variable", cursive;
		font-size: 2rem;
		color: #ffffff;
		margin-bottom: 20px;
	}

	.coming-soon-text {
		font-family: "Caveat Variable", cursive;
		font-size: 1.5rem;
		color: #ffffff;
	}

	/* フロー線 */
	.dot-line {
		width: 2px;
		height: 40px;

		background: repeating-linear-gradient(
			to bottom,
			#ffffff 0,
			#ffffff 4px,
			transparent 4px,
			transparent 8px
		);

		margin-left: 27px;
		margin-top: -10px;
	}

	.career-section .dot-line:last-child {
  display: none;
}

	/* アニメーション */
	@keyframes floatIn {
		from {
			opacity: 0;
			transform: translateY(24px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
</style>
